@media screen {
  [data-md-color-scheme="default"] {
    --md-default-fg-color--light: #000000ef;
  }

  [data-md-color-scheme="slate"] {
    --md-default-fg-color--light: hsla(var(--md-hue), 15%, 90%, 0.937);
  }
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: bold;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem;
}

.highlighted-line {
  background-color: #ffeeba !important;
  transition: background-color 0.2s ease;
}


body[data-md-color-scheme="slate"] .highlighted-line {
  background-color: #6d6d31 !important;
}
